@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding:0;
}
body{
    font-family: roboto;
    background:rgb(244, 247, 246);
}
h1{
    text-align: center;
    padding: 18px 18px;
    color: rgb(5, 5, 5);
    font-family: roboto;
    
}

.logo__topo{
    height: 310px;
}

.forms{
    text-align: right;
    margin: 12px 16px 0px 0px;
}


.h5{
    margin: 2px 40px 5px;

}
.frametexto{
    text-align: center;
    padding: 27px;
    padding-bottom: 25px;
    background: rgba(253, 253, 255, 0.582);
    width: 20%;
    cursor: pointer;
    border-radius: 10px;
    margin: 40px auto;
}
.texto{
    text-align: center;
}
.imagemmeio{
    text-align: center;
}
.conteudos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:  0.5em;
    background-color: rgba(30, 146, 150, 0.507);
    padding: 0 0px;
    text-align: center;
}
.frame{
    text-align: center;
}
.framework{

    justify-content: center;
    width: 50%;
    margin: 0px auto;
    

}
.framework__txt{
    justify-content: space-between;
    text-align:justify;
    letter-spacing: 1.0px;

}
.framework__title{
    font-size: 16px;
    margin: 10px 0;
}
.footer{
    
    color:white;
    background-color: black;
    text-align: center;
    padding: 20px 20px;
    margin-top: 20px;
}
nav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: fixed;
    width: 100%;
    
}
nav .menu{
    color:white;
    float: left;
    display: block;
    padding: 14px 16px;
}
nav a{
    color:white;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}
nav a:hover{
    background-color: rgba(2, 219, 248, 0.411);
    color:black;
    transition: 0.5s;
}


.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.card {
    width: 100px;
    height: 100px;
    border: 1px solid black;

}



.none {
    display: none;
}


.show {
    display: block;
}


button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}


 div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.border {
    border-right: 1px solid black;
}

.accordion_div {
    margin: 40px 0px 40px 0px;
}

