@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.menu {
  background-color: black;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.menu__link {
  color: #fefefe;
  float: right;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.menu__link:hover {
  background-color: rgba(10, 147, 165, 0.411);
  color: black;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.header {
  margin: 0;
}

.header__logo {
  width: 100%;
}

.header__img {
  height: 310px;
}

.header__forms {
  text-align: right;
  margin-top: -3px;
}

.header__txt {
  background: black;
  padding: 10px;
}

.header__title {
  color: #fefefe;
  font-size: 18px;
  position: relative;
  right: 40px;
}

.corpo {
  width: 80%;
  margin: 0 auto;
}

.frontend {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto;
}

.frontend__title {
  text-align: center;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 20px;
}

.frontend__p {
  text-align: justify;
}

.frontend__imagens {
  text-align: center;
  margin: 20px;
}

.logica__btn {
  background-color: #fefefe;
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.logica__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.html__btn {
  background-color: #fefefe;
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.html__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.css__btn {
  background-color: #fefefe;
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.css__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.desing__btn {
  background-color: #fefefe;
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.desing__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.java__btn {
  background-color: #fefefe;
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.java__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.footer {
  color: #fefefe;
  background-color: black;
  text-align: center;
  padding: 20px 20px;
  margin-top: 20px;
}

.footer__p {
  font-size: 15px;
}

.article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  background-color: rgba(10, 147, 165, 0.411);
  padding: 0 0px;
  text-align: center;
}

.article .funcao__title {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.article .funcao__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.article__title {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.article__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.formacao {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.formacao__title {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.formacao__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

@media screen and (max-width: 480px) {
  .formacao {
    border: none;
    border-top: 1px solid;
  }
}

.qualificacao__title {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.qualificacao__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.menu {
  background-color: black;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.menu__link {
  color: #fefefe;
  float: right;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.menu__link:hover {
  background-color: rgba(10, 147, 165, 0.411);
  color: black;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.header {
  margin: 0;
}

.header__logo {
  width: 100%;
}

.header__img {
  height: 310px;
}

.header__forms {
  text-align: right;
  margin-top: -3px;
}

.header__txt {
  background: black;
  padding: 10px;
}

.header__title {
  color: #fefefe;
  font-size: 18px;
  position: relative;
  right: 40px;
}

.corpo {
  width: 80%;
  margin: 0 auto;
}

.frontend {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto;
}

.frontend__title {
  text-align: center;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 20px;
}

.frontend__p {
  text-align: justify;
}

.frontend__imagens {
  text-align: center;
  margin: 20px;
}

.logica__btn {
  background-color: #fefefe;
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.logica__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.html__btn {
  background-color: #fefefe;
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.html__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.css__btn {
  background-color: #fefefe;
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.css__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.desing__btn {
  background-color: #fefefe;
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.desing__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.java__btn {
  background-color: #fefefe;
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.java__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  background-color: rgba(10, 147, 165, 0.411);
  padding: 0 0px;
  text-align: center;
}

.article .funcao__title {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.article .funcao__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.article__title {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.article__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.formacao {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.formacao__title {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.formacao__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.qualificacao__title {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.qualificacao__p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.framework {
  width: 50%;
  margin: 0px auto;
}

.framework__title {
  text-align: center;
  font-size: 50px;
  margin-top: 36px;
  margin-left: 70px;
  background: grey;
  border-radius: 10px;
  width: 400px;
}

.framework__logo {
  margin-left: 70px;
  margin-top: 36px;
}

.framework__subtitle {
  font-weight: bold;
  text-align: center;
  margin: 14px;
}

.framework__p {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: justify;
  letter-spacing: 1.0px;
}

.footer {
  color: #fefefe;
  background-color: black;
  text-align: center;
  padding: 20px 20px;
  margin-top: 20px;
}

.footer__p {
  font-size: 15px;
}

@media screen and (max-width: 480px) {
  .menu {
    background: red;
  }
}
/*# sourceMappingURL=style.css.map */